<h2>Heart of the Forest</h2>
<p>You are the heart of a land in need of beautification.. Tap to the beat
    and see lands grow! A rhythm game for all the seasons!
</p>
<p>Made in 48 hours during the Global Game Jam 2013 in Sydney, Australia. Winner of Best Art Award and People's Choice Award</p>
<p>
    <strong>Release Date:</strong> 27/1/2013 <br>
    <strong>Platforms:</strong>  PC <br>
    <strong>Link:</strong> <a target="_blank" href="http://2013.globalgamejam.org/2013/heart-forest">Game Jam 2013 Page</a><br>
</p>
<p>
    <a target="_blank" href="http://2013.globalgamejam.org/sites/default/files/2013/%3Cem%3EEdit%20Game%202013%3C/em%3E%20Heart%20of%20the%20Forest/download/heartoftheforest_submission.7z">
    <img src="assets/images/download.png"/></a>
</p>





