<h2>Inflatality</h2>
<p>Derpy physics-based fighting game featuring inflatable 
wavers beating on each other
</p>
<p>Each player crafts their own waver, complete with personalised faces, colours, decals and special skills, then do battle in hilarious, rubbery flailing combat.</p>

<p>The gameplay is half fumblecore, half brutal action as wind, physics and low  cunning all play vital roles in securing victory.</p>

<p><strong>Release Date:</strong>26/10/2017<br>
<strong>Platforms:</strong> PC, PS4, Xbox One<br>
<strong>Roles: </strong>Lead Programmer, Game Designer<br>
<strong>Website:</strong> <a target="_blank" href="http://www.inflatality.com">http://www.inflatality.com</a></p>