<h4>Monstergotchi</h4>

<p>Complete the summoning ritual! Feed your monster and keep him safe until he is strong enough to wreck the town! Collect the resources and master the combinations!</p>

<p>Made during the Global Game Jam 2016 in Sydney, Australia</p>

<p>Release Date: 27/1/2013 <br>
    Platforms: PC <br>
    Links:	Game Jam 2016 Page <br>
    Download Link
</p>
