<h2>Monstergotchi</h2>

<p>Complete the summoning ritual! Feed your monster and keep him safe until he is strong enough to wreck the town! Collect the resources and master the combinations!</p>

<p>Made in 48 hours during the Global Game Jam 2016 in Sydney, Australia</p>

<p>	<strong>Release Date:</strong> 27/1/2013 <br>
    <strong>Platform:</strong> PC <br>
    <strong>Link:</strong> <a target="_blank" href="http://globalgamejam.org/2016/games/monstergotchi">Game Jam 2016 Page</a><br>
</p>
<p>
    <a target="_blank" href="http://ggj.s3.amazonaws.com/games/2016/01/31/1700/Monstergotchi_0.85_Win.zip">
    <img src="assets/images/download.png"/></a>
</p>

