<h2>Psyco-Path</h2>
<p>You are a manipulative psychic psycho breaking out out of an insane asylum which you have no business being in. 
Take control of fellow inmates to allude capture by the orderlies and win your freedom.
</p>

<p>Made in 48 hours during the Global Game Jam 2014 in Sydney, Australia</p>
<p>
    <strong>Release Date:</strong> 22/2/2014 <br>
    <strong>Platform:</strong> PC <br>
    <strong>Link:</strong> <a href="http://globalgamejam.org/2014/games/psyco-path">Game Jam 2014 Page</a><br>
</p>
<p>
    <a href="http://2013.globalgamejam.org/sites/default/files/2013/%3Cem%3EEdit%20Game%202013%3C/em%3E%20Heart%20of%20the%20Forest/download/heartoftheforest_submission.7z">
    <img src="assets/images/download.png"/></a>
</p>

