<h2>Shooty Ballz</h2>
<p>Shooty Ballz is a Twin Stick Shooter with a bit of a twist! Your objective is to protect the green ball.. from yourself! Shoot EVERYTHING Except the green ball.
Pay attention to your Control Gauge. If it runs out, you will go Out of Control. </p>

<p>Initially created as part of Game Makers' Toolkit Game Jam 2020. Selected by GMTK's Mark Brown as his personal <a href="https://youtu.be/RGeAkU2wu4o?t=1081">top-20 picks!</a> 
Now in-development to become a full game</p>

<p><strong>Release Date: </strong>TBA<br>
<strong>Platforms: </strong>TBA<br>
<strong>Roles: </strong>Lead Programmer, Game Designer<br>
<strong>Demo:</strong> <a target="_blank" href="https://arvz.itch.io/shooty-ballz">Shooty Ballz on Itch.io</a></p>